@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter';
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.container{
    max-width: 80%;
    height: 80vh;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 30px;
}

.title{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: black;
    margin-bottom: 70px;
}

.title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 50px;
    background-color: #ff4500;
}

.input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.container .login-form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

}

.input-box input:focus,.input-box input:valid{
    border-color: black;

}

 .input-box button{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    background-color: orangered;
    border: 0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3rem;
}

.input-box input[type="submit"][disabled]{
    opacity: 0.7;
}

.forgot a{
    color: orangered;
    text-decoration: none;
}

.login-img{
    width: 50%;
}

.signup-text{
    font-size: 15px;
    margin-top: 3rem;
}
.signup-text a{
    color: orangered;
    text-decoration: none;
}

/* @media screen and (max-width: 1230px){
    .form-image{
        display: none;
    }

    .container{
        width: 50%;
    }

    .form{
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container{
        width: 90%;
        height: auto;
    }
    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    .gender-inputs{
        margin-top: 2rem;
    }

    .gender-group{
        flex-direction: column;
    }
    .gender-input{
        margin-top: 0.5rem;
    }
} */