*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
}
.logo-container{
    align-items: left;
    flex: 1;
}

.profile-container{
    flex: 6;
}

.menu-container{
    flex: 2;
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-item{
    margin-right: 30px;
}

.menu-list-item.active{
    font-weight: bold;
}

.logo-container img{
    width: 125%;
}

.slider{
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.navigation-manual{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.manual-btn{
    width: 70px;
    height: 17px;
    border: 2px solid #ffff;

}

.slider img{
    
}
/* Tela de login */
.container{
    display: flex;
    border: 2px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

